VITE_SUPABASE_URL=https://ndszwzivcdsyqaxnoqlh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kc3p3eml2Y2RzeXFheG5vcWxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ0NDAwODEsImV4cCI6MjA1MDAxNjA4MX0.Rd1oSqevPg0Jy3ffdvK8I8jUr7OIflDGUFx2PFi2n_g